priority -49

snippet ld "Log (debug)"
log.debug('$0')
endsnippet

snippet ldv "Log (debug) variable"
log.debug('$0: %r', $0)
endsnippet

snippet pv "Print variable"
print '$0: %r' % ($0,)
endsnippet
